{% extends 'base.html' %}

{% block title %} Edit User
{% endblock %}

{% block content %}
<h1>Edit User</h1>
<form action="" method="POST">
    <label for="first_name">First Name</label>
    <br>
    <input type="text" name="first_name" id="" placeholder="Enter a first name">
    <br>
	<br>
    <label for="last_name">Last Name</label>
    <br>
    <input type="text" name="last_name" id="" placeholder="Enter a last name">
    <br>
	<br>
    <label for="image_url">Image URL</label>
    <br>
    <input type="url" name="image_url" id="" placeholder="Provide an image of this user">
    <br>
    <br>
    <a href="/users/{{ user.id }}"class="btn btn-outline-info">Cancel</a>
	<button class="btn-success" type="submit">Save</button>
</form>
{% endblock %}
