{% extends 'base.html' %}

{% block title %} {{ user.first_name + " " + user.last_name + ": Details" }}
{% endblock %}

{% block content %}
<img src="{{ user.image_url }}" width="150" alt="user's profile photo">
<div class="d-inline-block">
	<h1 >{{ user.first_name + " " + user.last_name }}</h1>

	
	<form action="/users/{{ user.id }}/delete" method="POST">
	<!-- <a href="/users/{{ user.id }}/delete"class="btn btn-danger">Delete</a> -->
	<a href="/users/{{ user.id }}/edit"class="btn btn-primary">Edit</a>
	<button class="btn btn-danger">DELETE</button>
	</form>
</div>

	{% endblock %}
